@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'system-ui', sans-serif !important;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background-color:  #faf5fF;

}
body, h1, h5, a {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}
h1{
    font-size: 2.125rem;
}
h5{
    font-size:  1.25rem;
}

.dropdown-toggle {
    background-color: #2a9134;
    border: 0px;
}
.dropdown-toggle:hover {
    background-color: #2a9134;
    color: #ffffff;
}
.btn.btn-secondary.dropdown-toggle:active,
.btn.btn-secondary.dropdown-toggle:focus {
  background-color: #2a9134 !important;
  color: #ffffff;
}


.container-body {
    background-color: #2a9134;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden; /* Ensure border-radius applies */
    width: 53.125em;
    max-width: 100%;
    min-height: 30em;
    color: #ffffff;
    padding: 2rem;
}

.dropdown-menu {
    position: absolute;
    z-index: 1050;
    margin-top: 0.5rem; /* Adjust spacing from the dropdown toggle */
    border-radius: 0.5rem; /* Add radius for the dropdown menu */
    overflow: visible; /* Allow dropdown content to overflow if needed */
    transform: translate(0, 0); /* Prevent clipping issues */
}

.container-body a{
    color: #ffffff;
    font-size: 0.8125em;
    text-decoration: none;
    margin: 0.9em 0 0.7px;
    font-weight: 500;
  
}

.container-body .form___button{
    background-color: #f7b205;
    color: #000000;
    font-size: 0.75em;
    padding: 0.625rem 2.81rem;
    border: 1px solid transparent;
    border-radius: 0.5em;
    font-weight: 700;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-top: 0.625rem;
    cursor: pointer;
}

.container-body button.hidden{
    background-color: #2a9134;
    
}
.registration__form__container{
    margin-left: 2rem;
}
.login__form__container{
    margin-left: 0.5rem;
}
.login__form__container__header{
    margin-right: 1rem;
}
.container-body form{
    background-color: #2a9134;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 2em;
    height: 100%;
    
}


.container-body input {
    background-color: #f8f9fa;
    border: none;
    border-radius: 0.5em;
    outline: none;
    width: 18rem;
    font-size: 16px; 
    color: #333;
    padding: 10px 12px; 
}

.input-group.form__input {
    display: flex; 
    align-items: center;
    border-radius: 0.5em; 
    overflow: hidden; 
    width: 18rem;
}

.input-group.form__input input {
    border-radius: 0.5em 0 0 0.5em; 
    padding: 10px 12px; 
    
}

.input-group.form__input .btn {
    border-radius: 0 0.5em 0.5em 0;
    padding: 10px 12px; 
    font-size: 16px;
    background-color: #f8f9fa;
    border: none; 
}
.login__form__container{
    margin-left: 0.5em;
}
.form-container{
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in{
    left: 0;
    width: 50%;
    z-index: 2;
}

.container-body.active .sign-in{
    transform: translateX(100%);
}

.sign-up{
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.container-body.active .sign-up{
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
}

@keyframes move{
    0%, 49.99%{
        opacity: 0;
        z-index: 1;
    }
    50%, 100%{
        opacity: 1;
        z-index: 5;
    }
}

.toggle-container{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 9.375em 0 0 6.25em;
    z-index: 99;
}

.container-body.active .toggle-container{
    transform: translateX(-100%);
    border-radius: 0  9.375em 6.25em 0;
}

.toggle{
    background-color: #f7b205;
    height: 100%;
    color: rgb(0, 0, 0);
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.container-body.active .toggle{
    transform: translateX(50%);
}

.toggle-panel{
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 3em;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.toggle-panel h1 {
    margin-bottom: 1em; 
    margin-left: 1em;
}


.toggle-panel ul {
    list-style-type: disc;
    padding-left: 1.2em;
}

.toggle-panel ul li {
    margin-bottom: 2em; 
}

.toggle-left{
    transform: translateX(-200%);
}
.toggle-panel ul li:last-child {
    margin-bottom: 0; 
}

.container-body.active .toggle-left{
    transform: translateX(0);
}

.toggle-right{
    right: 0;
    transform: translateX(0);
}

.container-body.active .toggle-right{
    transform: translateX(200%);
}
li{
    font-size: 1rem;
    font-weight: 600;
}

.center{
    margin-left: 1em;
}


#register, #login{
    color:#ffffff
}

.feedback-note{
    padding-inline: 1rem;
    padding-left: 3rem;
    padding-top: 0.5rem;
    max-width: 50rem;
    text-align: center;
}

.toggle-panel__header{
margin-bottom: 0.5em;
}

.toggle-panel__header__right{
    margin-left: 1em;
}

@media only screen and (min-width:1200px){
    .message_container{
        margin-top: 10em;
    }    
    .dropdown-menu {
        height: 6em;
    }
}

@media only screen and (max-width:850px) { 
.message_container {
    min-height: 0 !important;
} 
.container-body{
    width: 47em;
    min-height: 29em;
}
.registration__form__container{
    margin-right: 1em;
}
}
@media only screen and (max-width:744px) { 
.container-body{
    width: 43em;
    min-height: 27em;
}

.container-body input{
    width: 15rem;
}

.input-group.form__input {
    width: 15rem;
}

.input-group.form__input input {
    padding: 10px 12px; 
}

.input-group.form__input .btn {

    padding: 10px 12px;
    font-size: 16px;

}


h1{
    font-size: 2rem;
}
h5{
    font-size:  1.050rem;
}

.toggle-panel{
    padding: 0 1.5em;
}
.dropdown-menu {
    min-width: 130px !important;
}
.feedback-note{
    font-size: 0.85rem;

}
}
@media only screen and (max-width:600px) {    
    .center{
        margin-left: 1.3em;
    }
    .container-body{
        width: 35em;
    }
    .container-body input {
        width: 14rem;
        font-size: 14px; 
        padding: 10px 12px; 
    }

    .input-group.form__input {
        width: 14rem;
    }

    .input-group.form__input input {
        padding: 10px 12px;
    }

    .input-group.form__input .btn {
        padding: 10px 12px; 
        font-size: 14px;
    }
    h1{
        font-size: 1.5rem;
    }
    .toggle-right h1{
       margin-left: 2em;
    }
    li{
        font-size: 1rem;
    }
    h5{
        font-size: 1rem; 
        white-space: nowrap;  

    }   

    .toggle-right{
       
        padding: 5em 1em 5em 1em;
       
    }
    .toggle-left{
       
        padding: 5em 2em 4em 1em;
       
    }
    .container form{
        padding: 0 1em;
        height: 100%;
        
    }
    .dropdown-item{
        font-size: 0.6rem !important;
       
    }

    .dropdown-menu {
        min-width: 100px !important;
    }
    .registration__form__container{
        margin-right: 3rem;
    }
}
@media only screen and (max-width:539px) {
    body{
        height: 100vh;
        overflow: hidden;
    }
    .alert {
        font-size: 0.75rem; 
        margin-top: 0;
        max-width: 80%;
        margin: 0 auto;
        padding: 10px 5px;
        margin-bottom: 1em;
    }
    .faculty-login{
        margin-bottom: 7rem !important;
    }
    .container-body{
        width: 24em;
        min-height: 22em;
    }
    .container-body input {
        width: 11rem;
        font-size: 12px; 
        padding: 6px 8px; 
    }

    .input-group.form__input {
        width: 11rem;
    }

    .input-group.form__input input {
        padding: 6px 8px;
    }

    .input-group.form__input .btn {
        padding: 6px 8px; 
        font-size: 12px;
    }
    .registration__form__container{
        margin-right: 6.5rem;
        font-size: 12px;
    }
    .login__form__container{
        font-size: 12px;
        margin-left: 0.3em;
    }
    .container-body .form___button{
        font-size: 0.6rem;
        padding: 0.3rem 1.7rem;
        margin-top: 0.5rem;
    }
    h1{
        font-size: 1.1rem;
    }
    .toggle-panel__header{
        font-size: 1rem;
    }
    .toggle-panel__header__right{
        margin-left: 2em;
    }
    .toggle-right h1{
       margin-left: 2.7em;
    }
    li{
        font-size: 0.7rem;
    }
    h5{
        font-size:  0.9rem;
    }
    .container-body a{
        font-size: 0.6em;
        margin: 0.7em 0 0.5px;
      
    }
    .toggle-right{
        padding: 4em 1em 5em 0.5em;
       
    }
    .toggle-left{
        padding: 6em 2.5em 6em 0.3em;

    }
    .dropdown-item{
        font-size: 0.5rem !important;
       
    }
    .dropdown-menu {
        min-width: 100px !important;
    }
    .feedback-note{
        font-size: 0.75rem;
        padding-inline: 1.7rem;
    }
    
}
@media only screen and (max-width:400px) {
    .container-body{
        width: 22em;
        min-height: 20em;
    }

    .container-body input {
        width: 9rem;
        font-size: 12px; 
        padding: 4px 6px; 
    }

    .input-group.form__input {
        width: 9rem;
    }

    .input-group.form__input input {
        padding: 4px 6px;
    }

    .input-group.form__input .btn {
        padding: 4px 6px; 
        font-size: 12px;
    }
    .registration__form__container{
        font-size: 11px;
        margin-right: 5.5rem;
    }
    .login__form__container{
        font-size: 11px;
        margin-left: 0.55em;
    }

    .container-body .form___button{
        font-size: 0.5em;
        padding: 0.25rem 1.5rem;
    }
    h1{
        font-size: 1rem;
    }
    .toggle-right h1{
       margin-right: 0.5em;
    }

    li{
        font-size: 0.6rem;
    }
    h5{
        font-size:  0.8rem;
    }
    .container-body a{
        font-size: 0.55em;
        margin: 0.5em 0 0.5px;
    }
    .toggle-right{
        padding: 4em 0.5em 4em 1em;
       
    }
    .toggle-left{
        padding: 5em 2.5em 4.5em 1em;

    }
    .dropdown-item{
        font-size: 0.4rem !important;
       
    }
    .dropdown-menu {
        min-width: 75px !important;
    }
    .feedback-note{
        font-size: 0.70rem;
        padding: 0.5rem;
    }
}
