@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif !important;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background-color:  #faf5fF;
}
body, h1, h5, a {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}
h1{
    font-size: 2.125rem;
}
h5{
    font-size:  1.25rem;
}

.dropdown-toggle {
    background-color: #2a9134;
    border: 0px;
}
.dropdown-toggle:hover {
    background-color: #2a9134;
    color: #ffffff;
}
.btn.btn-secondary.dropdown-toggle:active,
.btn.btn-secondary.dropdown-toggle:focus {
  background-color: #2a9134 !important;
  color: #ffffff;
}
#admin{
    font-weight: 500;
    color: #ffffff;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    font-size: 1em;
}
.admininput{
    font-size: 0.7em;
}

.container-body{
    background-color: #2a9134;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 53.125em;
    max-width: 100%;
    min-height: 32.5em;
    color: #ffffff;
}

.container-body p{
    font-size: 1em;
    line-height: 1.2em;
    letter-spacing: 0.1em;
    margin: 1.2em 0;
    font-weight: 600;
    color: #ffffff;
    margin-left: 2em;
}

.container-body a{
    color: #ffffff;
    font-size: 0.8125em;
    text-decoration: none;
    margin: 0.9em 0 0.7px;
    font-weight: 500;
  
}

.container-body button{
    background-color: #f7b205;
    color: #000000;
    font-size: 0.75em;
    padding: 0.625rem 2.81rem;
    border: 1px solid transparent;
    border-radius: 0.5em;
    font-weight: 600;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-top: 0.625rem;
    cursor: pointer;
}

.container-body button.hidden{
    background-color: #2a9134;
    
}

.container-body form{
    background-color: #2a9134;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 2em;
    height: 100%;
    
}

.container-body input{
    background-color: #eeeeee;
    border: none;
    margin: 0.5em 0;
    padding: 0.625em 0.9375em;
    font-size: 1em;
    border-radius: 0.5em;
    width: 20em;
    outline: none;
    font-weight: 500;
}

.form-container{
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in{
    left: 0;
    width: 50%;
    z-index: 2;
}

.container-body.active .sign-in{
    transform: translateX(100%);
}

.sign-up{
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.container-body.active .sign-up{
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
}

@keyframes move{
    0%, 49.99%{
        opacity: 0;
        z-index: 1;
    }
    50%, 100%{
        opacity: 1;
        z-index: 5;
    }
}

.toggle-container{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 9.375em 0 0 6.25em;
    z-index: 99;
}

.container-body.active .toggle-container{
    transform: translateX(-100%);
    border-radius: 0  9.375em 6.25em 0;
}

.toggle{
    background-color: #f7b205;
    height: 100%;
    color: rgb(0, 0, 0);
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.container-body.active .toggle{
    transform: translateX(50%);
}

.toggle-panel{
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 2em;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.toggle-panel h1 {
    margin-bottom: 1em; 
}


.toggle-panel ul {
    list-style-type: disc;
    padding-left: 1.2em;
}

.toggle-panel ul li {
    margin-bottom: 2em; 
}

.toggle-left{
    transform: translateX(-200%);
}
.toggle-panel ul li:last-child {
    margin-bottom: 0; 
}

.container-body.active .toggle-left{
    transform: translateX(0);
}

.toggle-right{
    right: 0;
    transform: translateX(0);
}

.container-body.active .toggle-right{
    transform: translateX(200%);
}
li{
    font-size: 1rem;
    font-weight: 600;
}

.center{
    margin-left: 1em;
}


#register, #login{
    color:#ffffff
}

.feedback-note{
    padding-inline: 1rem;
    padding-left: 3rem;
    padding-top: 0.5rem;
    max-width: 50rem;
    text-align: center;

}

@media only screen and (max-width:850px) { 
    
    .container-body{
        width: 47em;
        min-height: 31em;
    }

.container-body button{
    font-size: 0.70em;
}
.container-body input{
width: 20em;
font-size: 0.9em;

}
.container-body p{
    margin-left: 1.5em;
}
h1{
    font-size: 1.85rem;
}
.toggle-right h1{
   margin-left: 0.5em;
}
li{
    font-size: 0.9rem;
}
h5{
    font-size:  1.17rem;
}


}
@media only screen and (max-width:744px) { 
    .container-body{
        width: 37em;
        min-height: 27em;
    }
    .container-body p{
        font-size: 0.85em;
        line-height: 1em;
        margin: 1.3em 0;
        margin-left: 1.2em;
    }
    
.container-body button{
    font-size: 0.70em;
}
.container-body input{
    padding: 0.6em 0.85em;
    font-size: 0.85em;
    width: 19em;
}
h1{
    font-size: 1.4rem;
}
.toggle-right h1{
   margin-left: 1em;
}
li{
    font-size: 0.8rem;
}
h5{
    font-size:  0.9rem;
}

.toggle-panel{
   
    padding: 0 1.5em;
   
}
.dropdown-menu {
    min-width: 130px !important;
}
.feedback-note{
    font-size: 0.85rem;

}
}
@media only screen and (max-width:590px) { 
    .center{
        margin-left: 1.3em;
    }
    .container-body{
        width: 29em;
        min-height: 20em;
    }
   .container-body p{
        font-size: 0.70em;
        line-height: 0.8em;
        margin: 1em 0;
        margin-left: 2em;
    }
    .container-body button{
      
        font-size: 0.5em;
        padding: 0.4rem 2rem;
        margin-top: 0.625rem;
        cursor: pointer;
    }
.container-body input{
    padding: 0.5em 0.75em;
    font-size: 0.85em;
    width: 18em;
}
h1{
    font-size: 1rem;
}
.toggle-right h1{
   margin-left: 2em;
}
li{
    font-size: 0.6rem;
}
h5{
    font-size:  0.75rem;
}
.container-body a{
    font-size: 0.6em;
    margin: 0.7em 0 0.5px;
  
}
.toggle-right{
   
    padding: 5em 1em 5em 1em;
   
}
.toggle-left{
   
    padding: 5em 2em 4em 1em;
   
}

.container-body form{
    padding: 0 1em;
    height: 100%;
    
}
.dropdown-item{
    font-size: 0.6rem !important;
   
}
#admin{
    font-size: 0.8rem;
}
.admininput{
    font-size: 0.6rem !important;
}
.dropdown-menu {
    min-width: 100px !important;
}
.feedback-note{
    font-size: 0.7rem;
}

form { 
    width: 80%; 
}
.form-group { 
    margin-bottom: 1.5rem; 
}
input { 
    padding: 0.4rem;
    font-size: 0.9rem; 
}
}
@media only screen and (max-width:461px) {
    .container-body{
        width: 23em;
        min-height: 17em;
    }
    .container-body p{
        font-size: 0.60em;
        line-height: 0.8em;
        margin: 1.1em 0;
        margin-left: 1.5em;
    }
    .container-body input{
        font-size: 0.8em;
        width: 18em;
    }
    .container-body button{
        font-size: 0.4em;
        padding: 0.3rem 1.7rem;
        margin-top: 0.5rem;
    }
    h1{
        font-size: 0.85rem;
    }
    .toggle-right h1{
       margin-left: 2.7em;
    }
    li{
        font-size: 0.5rem;
    }
    h5{
        font-size:  0.6rem;
    }
    .container-body a{
        font-size: 0.5em;
        margin: 0.7em 0 0.5px;
      
    }

    .toggle-right{
   
        padding: 5em 1.2em 5em 1em;
       
    }
    .toggle-left{
       
        padding: 5em 2.5em 4.5em 1em;

    }
    .dropdown-item{
        font-size: 0.5rem !important;
       
    }
    #admin{
        font-size: 0.7rem;
    }
    .admininput{
        font-size: 0.5rem !important;
    }
    .dropdown-menu {
        min-width: 100px !important;
    }
    .feedback-note{
        font-size: 0.75rem;
        padding-inline: 1.7rem;
    }
}
@media only screen and (max-width:368px) {

    .container-body{
        width: 21em;
        min-height: 15em;
    }
    .container-body p{
        font-size: 0.55em;
        line-height: 0.8em;
        margin: 1em 0;
        margin-left: 1.7em;
    }
    .container-body input{
        font-size: 0.75em;
        width: 18em;
    }
    .container-body button{
        font-size: 0.35em;
        padding: 0.25rem 1.5rem;
        margin-top: 0.5rem;
    }
    h1{
        font-size: 0.75rem;
    }
    .toggle-right h1{
       margin-right: 0.6em;
    }

    li{
        font-size: 0.4rem;
    }
    h5{
        font-size:  0.52rem;
    }
    .container-body a{
        font-size: 0.4em;
        margin: 0.5em 0 0.5px;
    }
    .toggle-right{
   
        padding: 5em 0.1em 5em 1em;
       
    }
    .toggle-left{
       
        padding: 5em 2.5em 4.5em 1em;

    }
    .dropdown-item{
        font-size: 0.4rem !important;
       
    }
    .dropdown-menu {
        min-width: 75px !important;
    }
    #admin{
        font-size: 0.6rem;
    }
    .admininput{
        font-size: 0.4rem !important;
    }
    .feedback-note{
        font-size: 0.70rem;
        padding: 0.5rem;
    }
}
}