*{
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    background-color: #2a9134;
    font-family: system-ui;
    line-height: 1.6rem;
}

.table-responsive td, th {
    vertical-align: middle; /* Center content vertically */
    padding: 10px;
  }

.container{
    width: 90%;
    background-color: #fafafa;
    padding-block: 1rem;
}
.header-secondary{
font-size: 1rem;
text-align: center;
}
.header-primary{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
    font-size: 1.2rem;
    text-align: center;
}
.header-bottom{
    font-size: 0.8rem;
    text-align: center;
}
.cvsulogo{
    width:80px; 
    height:80px;
}
.table-rating{
text-align: center;
}
.radio-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    align-self: center;
    vertical-align: middle;
}

.radio-group input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px; /* Set the width of the custom radio button */
  height: 20px; /* Set the height of the custom radio button */
  border-radius: 50%; /* Make the radio button circular */
  border: 2px solid #2a9134; /* Add a border */
  outline: none;
  cursor: pointer;
  vertical-align: middle;
  align-self: center;
}
.radio-group input[type="radio"]:checked{
    background-color: #2a9134;/* Change background color when radio button is checked */
}

@media (min-width:576px) {
    .container{
        padding-inline: 1rem;
    }
    .cvsulogo{
        margin-left: 1em;
    }
}

@media (min-width:768px) {
    .container{
        padding-inline: 2rem;
    }
    .cvsulogo{
        margin-left: 1em;
        width:90px; 
        height:90px;
        align-self: center;
    }
    .header-secondary{
        font-size: 1.2rem;
        }
    .header-primary{   
        font-size: 1.4rem;
    }
    .header-bottom{
        font-size: 1rem;
    }
}

@media (min-width:992px) {
    .cvsulogo{
        margin-left: 3em;
    }
}
@media (min-width:1200px) {
    .container{
        padding-inline: 3rem;
    }
    .cvsulogo{
        margin-left: 0;
        width:100px; 
        height:100px;
        align-self: center;
    }
    .header-secondary{
        font-size: 1.2rem;
        }
    .header-primary{   
        font-size: 1.4rem;
    }
    .header-bottom{
        font-size: 1rem;
    }
    .flex-input{
        display: flex;
        gap: 2rem;   
        margin-bottom: 1em;
    }
    .flex-input-label{
        width: 10%;
    }
    .flex-input-col{
        width: 40%;
    }
}
@media (min-width:1400px) {
    .cvsulogo{
        margin-left: 3rem;
        width:100px; 
        height:100px;
        align-self: center;
    }
}