*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  overflow-y: hidden;
  scroll-behavior: smooth;
  background-color:  #faf5fF;
  color: #333;
  line-height: 1.6;
  font-family: system-ui, sans-serif;
}
th{
  color: #ffffff !important; 
  background-color: #2a9134 !important;
}

.table-responsive td, th {
  vertical-align: middle; /* Center content vertically */
  padding: 0.5rem;
}
.custom-btn{
  background-color: #ff9400;
  color: #fafafa !important;
  transition: background-color .3s;
}
.custom-btn:hover{
  background-color: #2a9134 !important;
  border-color: #2a9134
}
.header{
  display: flex;
  align-items: center; 
  background: linear-gradient(to right, #2a9134 1%, #3fa34d 53%, #2a9134 100%);
  width:100%;
  padding: 0;
  position: fixed;
  z-index: 99;
  top: 0;
}
#headerlogo{
font-size: 1.5rem;
cursor: pointer;
font-weight: bold;
text-transform: uppercase;
padding-left: 4rem;

}
a{
  color: black;
  text-decoration: none;
}
#profile_name:hover{
  text-decoration: underline;
}
a:hover {
  cursor: pointer;
}
#cvsulogo{
    margin-right: 1.55rem;
}
.title-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 1.2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.header-title{
  display: inline-block;
  color:white;  
  font-weight: bold;
  text-transform: uppercase; 
}
.subtitle{
    color:white;  
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1rem;
}

.profile-pic{
  width: 100%;

  padding-right: 1em;
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  justify-content: flex-end;
}
.notification-bell {
  position: relative;
  color: white;
  font-size: 1.5rem;
  margin-right: 1em;
  display: flex;
  align-items: center; /* Ensure vertical alignment */
}

.notification-bell .badge {
  position: absolute;
  top: 0px; /* Adjust as necessary */
  right: -5px; /* Adjust as necessary */
  background-color: red;
  color: white;
  padding: 2px 6px;
  border-radius: 50%;
  font-size: 0.75rem
}
.notifications_container{
  width: 500px;
}
main {
  height: calc(90vh); /* Adjust to leave space for padding */
  overflow-y: auto; /* Add a vertical scrollbar when content overflows */
  margin-top: 4rem;
}
#sidebar.lightsidebar {
  background-color: #fafafa;
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.2);
  overflow-y: hidden; /* Hide scrollbar for sidebar */
  transition: all 0.3s;
  width: 200px;
  position: fixed;
  height: 100%;

}
#sidebarCollapse{
  position: absolute;
  left: 1%;
  font-size: 3rem;
  border: 0;
  color: #fff;
  font-weight: 900;
  top:-10px;
}
.sidebar-collapsed #sidebar {
  margin-left: -250px; /* Adjust based on sidebar width */
}
.sidebar-collapsed .content {
  margin-left: 0;
}
.content {
  transition: all 0.3s;
  margin-left: 211px;
  overflow-x: hidden;
  padding:1em;
  z-index:-1;
}
.nav-item {/* Add padding to the items */
    margin: 1.1em; /* Add margin to create space between items */
  }
.nav-link{
    color: #333;
    transition: background-color .3s;
}
.nav-link:hover {
  background-color: #ff9400  !important;
  color: #fafafa !important;
  }
.nav-icon{
    margin-right: 0.2em;
  }
.flex-column li a{
    background-color: #fafafa;
    &:focus, &:active {
      background-color: #ff9400  !important;
      color: #fafafa !important;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;

  }
}
.nav-pills > li > a.active {
  color: #fafafa !important; 
  background-color: #ff9400 !important;
}


.nav-link.dropdown-toggle:active,
.nav-link.dropdown-toggle:focus {
  color: #fafafa!important; /* Green color when active */
  background-color: #ff9400;
}

  #navbarDropdown{
    font-weight: bold;
  }
  hr{
    border: none;
    border-bottom: 2px solid #ff9400;
  }

.card-title {
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
}

.card-subtitle {
    font-size: 1.2em;
    margin-bottom: 0.5em;
    color: #666;
}

.card-text {
    font-size: 1em;
    color: #555;
}

.button-container button{
  width: 100%;
}
.likert-horizontal {
  display: flex;  /* Arrange radio buttons horizontally */
  justify-content: space-around;
}

.likert-horizontal input[type="radio"] {
  margin-left: 50px; /* Adjust spacing as needed */
  margin-top: 1em;
  align-self: center;
}


.form-check-input{
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
  width: 20px !important; /* Set the width of the custom radio button */
  height: 20px !important; /* Set the height of the custom radio button */
  border-radius: 50% !important; /* Make the radio button circular */
  border: 2px solid #2a9134 !important; /* Add a border */
  outline: none !important;
  cursor: pointer !important;
}
.form-check-input:checked{
  background-color: #2a9134;/* Change background color when radio button is checked */
}

.custom-radio input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 25px; /* Set the width of the custom radio button */
  height: 25px; /* Set the height of the custom radio button */
  border-radius: 50%; /* Make the radio button circular */
  border: 2px solid #2a9134; /* Add a border */
  outline: none;
  cursor: pointer;
}

.custom-radio input[type="radio"]:checked {
  background-color: #2a9134;/* Change background color when radio button is checked */
}
.likert-horizontal.custom-radio .form-check {
  display: flex;
  align-items: center;
  margin-right: 20px; /* Adjust the margin between radio buttons */
}

.likert-horizontal.custom-radio .form-check-label {
  margin-left: 10px; /* Adjusts the space between the radio button and its label */
  margin-top: 1em;
}

/* Custom margin class */

.custom-text-input {
  width: 100%; /* Makes the textarea take full width of the parent container */
  height: auto; /* Ensures height is controlled by the 'rows' attribute */

  padding: 10px; /* Adds padding inside the textarea */
  font-size: 1rem; /* Adjusts font size */
  resize: vertical; /* Allows vertical resizing (remove this to disable resizing) */
  overflow-wrap: break-word; /* Ensures long text wraps appropriately */
}

/* New class for customized radio buttons */
.custom-choice-radio input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 25px; /* Set the width of the custom radio button */
  height: 25px; /* Set the height of the custom radio button */
  border-radius: 50%; /* Make the radio button circular */
  border: 2px solid #2a9134; /* Add a border with a different color */
  outline: none;
  cursor: pointer;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.custom-choice-radio input[type="radio"]:checked {
  background-color: #2a9134; /* Change background color when radio button is checked */
}

.custom-choice-radio .form-check {
  display: flex;
  align-items: center;
  margin-right: 20px; /* Adjust the margin between radio buttons */
}

.custom-choice-radio .form-check-label {
  margin-left: 10px; /* Adjust space between the radio button and its label */
  margin-top: 0.5em;
}


.about{
  padding: 0.7em;
  margin-bottom:0.3em;
  line-height: 2.5rem;
}
#faculty-select {

  border: 1px solid #000;
  border-radius: 4px;
  padding: 0.4em;
  font-size: 1rem;
  width: 100%;
  max-width: 200px; /* Adjust as needed */
  cursor: pointer;
  color: #333;
}

.contact-icon{
  font-size: 45px;
  color: #3fa34d;
}

.sticky-col {
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  left: 0;
  z-index: 1; /* Ensure the sticky column is above the rest of the table */
}
.rating_scale{
  align-self: center;
}
footer{
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #EDEDED;
  align-items: center;
  padding: 0.5em 0;
}
.footer__socials__logo{
  width: 2em;
}
.footer__copyright__text{
  color: #666666;
  margin-top: 1em;
  font-size: 1.125rem;
}
/* Notifications container styles */
.notification-list {
  max-width: 800px;
  margin: 0 auto;
}

/* Notification item styles */
.notification-item {
  padding: 16px;
  margin-bottom: 12px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
}

/* Different background color for read/unread notifications */
.notification-item.unread {
  background-color: #ffffff;
}

.notification-item.read {
  background-color: #f5f5f5;
}

/* Notification icon styles */
.notification-icon {
  font-size: 24px;
  color: #2a9134;
}

/* Notification content hover effect */
.notification-item:hover{
  background-color: #e9ecef;
}

.rating-cell {
  text-align: center;
  padding: 10px;
}
.clickable-link {
  color: #2a9134; /* Custom link color */
  text-decoration: underline;
  font-weight: bold;
}

.clickable-link:hover {
  color: #1a5d24; /* Darker shade on hover */
  text-decoration: none; /* Remove underline on hover */
  cursor: pointer;
}
.active>.page-link, .page-link.active{
  z-index: 1 !important;
}
.event-tags {
  margin-top: 10px;
  margin-bottom: 10px;
}

.event-tag {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 0.8rem;
  margin-right: 5px;
  margin-bottom: 5px;
  white-space: nowrap;
  color: #ffffff;
  background-color: #28a745;
}

.event-type-school-event {
  background-color: #007bff; 
}

.event-type-webinar-seminar {
  background-color: #28a745; 
}

.event-type-training-workshop {
  background-color: #ffc107; 
}


.venue-type-in-campus-event {
  background-color: #17a2b8; 
}

.venue-type-off-campus-event {
  background-color: #dc3545; 
}

@media (max-width:1200px) {
  #sidebar {
    margin-left: -250px; /* Adjust based on sidebar width */
    z-index: 5; 
  }
  
  .content {
    margin-left: 0;
  }
  
  .sidebar-collapsed #sidebar {
    margin-left: 0;
    z-index: 5;
  }
}

@media (max-width:900px) {
.header-title{
  font-size: 0.9rem;
  }
  .subtitle{
  font-size: 0.8rem;
  }
  .table th, .table td {
  font-size: 0.75rem;
}


}
@media (max-width: 768px) {

iframe{
  width:100% !important;
}
.header-title{
  font-size: 0.85rem;
}
.subtitle{
  font-size: 0.7rem;
}
.table th, .table td {
  font-size: 0.75rem;
}
.likert-horizontal input[type="radio"] {
  margin-left: 30px; /* Adjust spacing as needed */
  margin-top: 1em;
  align-self: center;
}
#faculty-select option{
  font-size: 0.80rem;
}
}



@media (max-width: 576px) {
main {
    height: calc(80vh); /* Adjust to leave space for padding */
    overflow-y: auto; /* Add a vertical scrollbar when content overflows */
    margin-top: 5rem;
  }
.form-radio{
  min-width: 20px; /* Set the width of the custom radio button */
  height: 20px; /* Set the height of the custom radio button */
}
.tablecontainer{
  margin-top: 2em;
}
#eval{
  width: 330px;
  height: 12em;
}
#eval h3{
  font-size: 1.3rem;
}
#eval h4{
  font-size: 1.2rem;
}
.title-container{
  visibility: hidden;
  opacity: 0;
}
#profile_name{
    margin-right: 2.75em;
width: 100%;
}
.faculty_evaluation_table th,
.faculty_evaluation_table td {
  font-size: 0.65rem; /* Adjust the font size */
  padding: 0.5em; /* Adjust the padding */
  }
#faculty-select option{
  font-size: 0.75rem;
}
footer{
  display: block;
  text-align: center;
}
.footer__socials__logo{
  width: 2.2em;
}
.custom-radio input[type="radio"] {
  width: 25px; /* Set the width of the custom radio button */
  height: 25px; /* Set the height of the custom radio button */

}
#profile_name{
      visibility: hidden;
      margin-right: -5em;
      padding: 0;
    }
.profile-pic{
      visibility: hidden;
    }


.card-title {
      font-size: 1.3em;
      font-weight: bold;
      color: #333;
  }
  
.card-subtitle {
      font-size: 1em;
      margin-bottom: 0.5em;
      color: #666;
  }
  
.card-text {
      font-size: 0.9em;
      color: #555;
  }
.material-symbols-outlined{
    margin-top: 1.5em;
  }
}
@media (max-width: 400px){
  .card-title {
    font-size: 1.1em;
    font-weight: bold;
    color: #333;
}

.card-subtitle {
    font-size: 1em;
    margin-bottom: 0.5em;
    color: #666;
}

.card-text {
    font-size: 0.9em;
    color: #555;
}
}